.sprite {
    background-image: url('../img/spritesheet.png');
    background-repeat: no-repeat;
    display: block;
}

.sprite-clock_2 {
    width: 26px;
    height: 26px;
    background-position: -5px -5px;
}

.sprite-ic-phonelink-ring-black-24dp-1x {
    width: 20px;
    height: 22px;
    background-position: -41px -5px;
}

.sprite-shape-2-copy-2 {
    width: 25px;
    height: 10px;
    background-position: -71px -5px;
}

.sprite-shape-2-copy-7_2 {
    width: 10px;
    height: 25px;
    background-position: -106px -5px;
}

.sprite-shape-2-copy-8_2 {
    width: 26px;
    height: 10px;
    background-position: -126px -5px;
}

.sprite-shape-2-copy_2 {
    width: 25px;
    height: 10px;
    background-position: -162px -5px;
}

.sprite-shape-53_2 {
    width: 65px;
    height: 58px;
    background-position: -197px -5px;
}

.sprite-shape-54_2 {
    width: 59px;
    height: 54px;
    background-position: -5px -73px;
}

.sprite-shape-55_2 {
    width: 52px;
    height: 70px;
    background-position: -74px -73px;
}

.sprite-shape-56_2 {
    width: 55px;
    height: 55px;
    background-position: -136px -73px;
}

.sprite-shape-57_2 {
    width: 57px;
    height: 70px;
    background-position: -201px -73px;
}

.sprite-shape-58_2 {
    width: 72px;
    height: 42px;
    background-position: -5px -153px;
}

.sprite-shape-59_2 {
    width: 63px;
    height: 52px;
    background-position: -87px -153px;
}

.sprite-shape-61_2 {
    width: 53px;
    height: 53px;
    background-position: -160px -153px;
}

.sprite-shape-62_2 {
    width: 58px;
    height: 55px;
    background-position: -272px -5px;
}

.sprite-shape-63_2 {
    width: 60px;
    height: 39px;
    background-position: -272px -70px;
}

.sprite-shape-6_2 {
    width: 68px;
    height: 66px;
    background-position: -268px -119px;
}

.sprite-shape-71_2 {
    width: 45px;
    height: 42px;
    background-position: -223px -195px;
}

.sprite-shape-72_2 {
    width: 37px;
    height: 43px;
    background-position: -278px -195px;
}

.sprite-shape-73_2 {
    width: 47px;
    height: 38px;
    background-position: -5px -248px;
}

.sprite-shape-74_2 {
    width: 25px;
    height: 20px;
    background-position: -62px -248px;
}

.sprite-shape-75_2 {
    width: 21px;
    height: 31px;
    background-position: -97px -248px;
}

.sprite-shape-76_2 {
    width: 14px;
    height: 24px;
    background-position: -128px -248px;
}

.sprite-shape-77_2 {
    width: 25px;
    height: 18px;
    background-position: -152px -248px;
}

.sprite-vector-smart-object-copy-3 {
    width: 61px;
    height: 81px;
    background-position: -187px -247px;
}
.instagram{
    width: 30px;
    height: 30px;
    background: url("../img/instagram.png") no-repeat center;
}
